<% content_for :title, "Editing camera" %>

<h1>Editing camera</h1>

<%= render "form", camera: @camera %>

<br>

<div>
  <%= link_to "Show this camera", @camera %> |
  <%= link_to "Back to cameras", cameras_path %>
</div>
