<div class="container d-flex flex-column text-center ">
  <h1>Cameras</h1>
  
  <div id="cameras">
    <% @cameras.each do |camera| %>
      <%= render camera %>
      <p>
        <%= link_to "Show this camera", camera %>
      </p>
    <% end %>
  </div>

  <%= link_to "New camera", new_camera_path %>
</div>
